<div class="row">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <ol class="progress-meter">
      <li class="progress-point done">Basic Data Input</li>
      <li class="progress-point done">General Metadata Input</li>
      <li class="progress-point done">Select Data to publish</li>
	    <li class="progress-point done">Data Metadata input</li>
    </ol>
  </div>
</div>
<br />
<div class="row">
	<p class="text-center">Thanks you for your request!, we will check it soon!</p>
</div>